{% load bootstrap3 %}
<!DOCTYPE html>
<html lang = 'en'>
  <head>
  	<meta charset = "utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE-edge">
  	<meta name="viewpoint" content="width=device-width, initial-scale=1">

  	<title>Learning Log</title>

  	{% bootstrap_css %}
  	{% bootstrap_javascript %}

  </head>


  <body>
  	
  	<nav class = "navbar navbar-default navbar-static-top" style = "background-color: #2F4F4F;">
  		<div class = "container">
	  		<div class = "navbar-header">
	  			<button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#navbar" aria-expanded = "false" aria-controls = "navbar">
	  			</button>
	  			<a class = "navbar-brand" href = "{% url 'mainpage:index' %}" style = "color: #8FBC8F;">HOME</a>

	  		</div>


	  		<div id = "navbar" class = "navbar-collapse collapse" id = "navbarNavDropdown">
	  	 		<ul class = "nav navbar-nav">
	  				<li class = "nav-item dropdown">

	  					<a class="nav-link dropdown-toggle" href="mainpage:index" id="navbarDropdownMenuLink" data-toggle="dropdown" role = "button" aria-haspopup="true" aria-expanded="false" style = "color: #8FBC8F;"><span class = "caret"></span>
	  						TOPICS
	  					</a>
	  					
					        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style = "background-color: #2F4F4F;">
					        	{% if user.is_authenticated %}
						          	{% for topic in topics %}
								       
								          <li><a class = "dropdown-item" href="{% url 'mainpage:topic' topic.id %}" style = "font-size:15px; text-transform: uppercase; color: #8FBC8F;">{{topic}}</a></li>	
					        						  								 
								    {% endfor %}
								{% endif %}
					        </ul>
					   
	  				</li>
	  			</ul>  

	  			<ul class ="nav navbar-nav navbar-right">
	  				{% if user.is_authenticated %}
	  				  <li><a style = "color: #8FBC8F;">Hello,{{user.username}}.</a></li>
	  				  <li><a href  = "{% url 'users:logout' %}" style = "color: #8FBC8F;">LOG OUT</a></li>
	  				{% else %}
	  				  <li><a href  = "{% url 'users:register' %}" style = "color: #8FBC8F;">REGISTER</a></li>
	  				  <li><a href  = "{% url 'users:login' %}" style = "color: #8FBC8F;">LOG IN</a></li>
	  				{% endif %}
	  			</ul>
	  		</div>
	  	</div>
	</nav>

	
 
 	<div class = "container">

 		<div class = "page-header">
 			{% block header %}{% endblock header %}
 		</div>

 		<div>
 			{% block content %}{% endblock content %}
 		</div>
 	</div>

  </body>

