{% extends 'mainpage/base.html' %}

{% block header %}
  <h2 style = "font-size: 25px;">{{ topic }}</h2>
{% endblock header %}

{% block content %}

<h3 style = "font-size: 20px;">Entries</h3>
  <p>
    <a href = "{% url 'mainpage:new_entry' topic.id %}" style = "color: #2F4F4F;">Add a new entry</a>
  </p>


{% for entry in entries %}

<div class = "panel panel-default">
  <div class = "panel-heading" style = "background-color: #2F4F4F;">
    <h3 style = "font-size: 20px; color: #8FBC8F;">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small>
        <a href = "{% url 'mainpage:edit_entry' entry.id %}" style = "color: #FFFFF0;">edit entry</a>
      </small>
    </h3>
  </div>

  <div class = "panel-body">
    {{ entry.text|linebreaks }}
  </div>
</div>

{% empty %}
    There is no entries for the topic.
{% endfor %}

<br>
  <h3 style = "font-size: 20px; text-align: center;">
    <a href = "{% url 'mainpage:new_entry' topic.id %}" style = "color: #8FBC8F; text-align: center; border-radius: 10px; border: 2px solid #8FBC8F; padding: 10px;">Add a new entry</a>
  </h3>

{% endblock content %}
